*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    html {
    font-size: 16px; /* =1rem */
    font-family: 'Roboto', sans-serif;
    }
    
    .container {
    max-width: 1125px;
    width: 100%;
    margin: auto;
    }
    
    .block {
    display:flex;
    align-items: center;
    justify-content: space-between;
    }
    
    .header{
    margin-top: 50px;
    }
    
    .link {
    text-transform: uppercase;
    text-decoration: none;
    }
    .link:hover {
    color:#34547A;
    }
    .logo {
    font-family: 'Revalia', cursive;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
    }
     
    .navigation {
    max-width: 612px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    }
    
    .nav_item {
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
    }
    
    .section_hero {
    background:#EEEFF1;
    padding-top: 250px;
    padding-bottom: 153px;
    margin-top: -110px;;
    }
    
    .hero_img {
    margin-left: 85px;
    }
    
    .hero_info {
    max-width: 541px;
    width: 100%;
    }
    
    .hero_title {
    font-weight: bold;
    font-size: 48px;
    line-height: 79px;
    margin-bottom: 60px;
    }
    
    .desc {
    line-height: 26px;
    color: #727272;
    margin-bottom: 60px;
    }
    
    .button {
    padding: 25px 41px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
    }
    
    .button_primary {
    color: #FFFFFF;
    background: #34547A;
    }
    
    .section_title {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 112px;
    }

    .sectiondesc{
        text-align: center;
        line-height: 26px;
        font-size: 16px;
       

    }

    
    .block_info {
    max-width: 540px;
    width:100%;
    }
    .sectiontitle {
        text-align: center;
        font-size: 32px;
line-height: 37px;
padding-top: 80px;
    }
    
    .section_b {

        width: 100%;
        max-height: 250px;
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #34547A;
        margin: auto;
    }
    
    .block_img {
        margin-right: 20px;
        width: 50px;
        height: 50px;
    }
    
    .back_h {
    
        margin-top: -23px;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        width: 36px;
        color: #FFFFFF;
        line-height: 25px;
    }
    
    .back_p {
        margin-bottom: -9px;
        margin-left: -36px;
        margin-right: 52.33px;
        font-size: 16px;
        font-weight: normal;
        color: #FFFFFF;
        line-height: 26px;
    }

    .section_skill {
        padding-top: 102px;
        background: #E5E5E5;
    }

    .skillsinfo {
        height: 30px;
    }

    .sectiontitle {
        margin-bottom: 50px;
        margin-left: -276px;
    }

    .section_skill_img {
        width: 555px;
        height: 450px;
        left: 981px;
        top: 1411px;
    }

    .status {
        width: 445px;
        height: 4px;
        background: linear-gradient(to right, #34547A 78%, #C4C4C4 22%);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bb {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }